.control-lable {
    padding-right:0px;
    padding-left:0px;
}

.form-control {
    height:30px;
    width:200px;
}

.label-required:after {
    content:"*";
    color:@alertRed;
    padding-left:5px;
}


