.subnav-large-container {
  background-color:@colorTheme5;
  height:600px;
  padding-top:10px;
  width:200px;
  
  .dropdown-toggle {
    cursor:pointer;
    font-family:'ProximaNovaLtSemibold', Arial, sans-serif;
    padding-top:10px;
    padding-left:31px;
    padding-bottom:10px;
    width:200px; 
    
    &:hover {
      background-color:@colorTheme1;
      color:@colorTheme4;
      
      .icon-after-uniF054:after {
        color:@colorTheme4;
      }
    }
    
    [class^="icon-"], 
    [class*=" icon-"] {
      padding-right:7px;
    }
     
  }
  
  div.dropdown.open {
    background-color:@colorTheme4;
  }
  
  .menu-title {
    border-bottom: 2px solid @colorTheme5;
    color:@rollingStone;
    font-family:'ProximaNovaLtSemibold', Arial, sans-serif;
    display:block;
    margin-top:28px;
    margin-bottom: 13px;
    line-height:20px;
    padding-bottom:14px;
  }
   
  .dropdown-menu {
    padding:0px;
    
    li a:hover {
      color:@colorTheme2;
    }
  }
  
  ul {
    padding-left:0px;
  }
  
  li {
    font-size: 14px;
    line-height: 14px;
    list-style:none;
    padding-bottom:14px;
    padding-left:0px;
    
    &.submenu {
      font-family:'ProximaNovaLtSemibold', Arial, sans-serif;
      font-size:16px;
    }
    
  }

  .container{
    margin:0px;
    margin-left:28px;
    margin-right:28px;
    width:425px;
    padding:0px;
  }

  .dropdown-menu  {
    border:2px solid @colorTheme5;
    border-left:0px;
    border-radius: 0px 0px 7px 0px;
    margin-left: 200px;
    margin-top: -46px;
  }
  
  .icon-after-uniF054:after {
    color:@rollingStone;
    content:"\F054";
    position:absolute;
    right:21px;  
    top:15px;  
  }
  
  .open {
      
    .icon-after-uniF054 {
        
	    &:after {
        color:@colorTheme1;      
	    }
	  
	    &:hover:after {
	      color:@colorTheme4;
	    }
	  
    }   
    
  }

} 

  
  
  
  
  