.btn {
  border-radius: 5px;
  font-size: 16px;
  height:40px;
  line-height: 20px;
  min-width:100px;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, .15);
          box-shadow: inset 0 3px 2px rgba(0, 0, 0, .15);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  filter: alpha(opacity=45);
  opacity: .45;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: none;
  -webkit-box-shadow: none;
  		  box-shadow: none;
}
.btn-default {
  background:@colorTheme5;
  background-image: none;
  background-repeat: none;
  border-color: @colorTheme5Darken5;
  color:@colorTheme6;
  filter: none;
  text-shadow:none;
  
  &:active,
  &.active {
    background-color: @colorTheme5Darken10;
    border-color: @colorTheme5Darken15;
  }
}
.btn-default:hover,
.btn-default:focus,
.open .dropdown-toggle.btn-default:focus {
  background:@colorTheme5Darken10;
  background-image: none;
  background-position: 0;
  background-repeat: repeat-x;
  color:@colorTheme6Darken5;
  border-color: @colorTheme5Darken15;
  filter: none;
  text-shadow:none;
}
.open .dropdown-toggle.btn-default:focus {
  box-shadow:none;
}
.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, .btn-default.active[disabled], 
fieldset[disabled] .btn-default.active {
  background-color: @colorTheme5;
  border-color: @colorTheme5Darken5;
  color:rgba(49,55,65,0.45);
}
.btn-primary {
  background:@colorTheme3;
  background-image: none;
  background-repeat: none;
  border-color: @colorTheme3Darken5;
  filter: none;
  
  &:active,
  &.active {
    background-color: @colorTheme3Darken10;
    border-color: @colorTheme3Darken15;
  }
  
}
.btn-primary:hover,
.btn-primary:focus,
.open .dropdown-toggle.btn-primary {
  background:@colorTheme3Darken10;
  background-image: none;
  background-repeat: none;
  background-position:0;
  border-color: @colorTheme3Darken15;
  color:@colorTheme4;
  filter: none;
}
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, .btn-primary.active[disabled], 
fieldset[disabled] .btn-primary.active {
  background-color: @colorTheme3;
  border-color: @colorTheme3Darken5;
  color:rgba(255,255,255,0.45);
}
.btn-info {
  background:@colorTheme1;
  background-image: none;
  background-repeat: none;
  border-color: @colorTheme1Darken5;
  filter: none;
  
  &:active,
  &.active {
    background-color: @colorTheme1Darken10;
    border-color: @colorTheme1Darken15;
  }
  
}
.btn-info:hover,
.btn-info:focus,
.open .dropdown-toggle.btn-info {
  background:@colorTheme1Darken10;
  background-image: none;
  background-repeat: none;
  background-position: 0;
  border-color: @colorTheme1Darken15;
  color:@colorTheme4;
  filter: none;
}
.btn-info.disabled, 
.btn-info[disabled], 
fieldset[disabled] .btn-info, 
.btn-info.disabled:hover, 
.btn-info[disabled]:hover, 
fieldset[disabled] .btn-info:hover, 
.btn-info.disabled:focus, 
.btn-info[disabled]:focus, 
fieldset[disabled] .btn-info:focus, 
.btn-info.disabled:active, 
.btn-info[disabled]:active, 
fieldset[disabled] .btn-info:active, 
.btn-info.disabled.active, .btn-info.active[disabled], 
fieldset[disabled] .btn-info.active {
  background-color: @colorTheme1;
  border-color: @colorTheme1Darken5;
  color:rgba(255,255,255,0.45);
}
.btn-xl, .btn-group-xl > .btn {
    border-radius: 5px;
    font-size: 24px;
    font-weight:bold;
    height:60px;
    line-height: 36px;
    min-width:170px;
    padding: 10px 36px;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight:bold;
    height:50px;
    line-height: 24px;
    min-width:150px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.btn-sm, .btn-group-sm > .btn {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    font-weight:normal;
    height:30px;
    line-height: 18px;
    margin-right:2px;
    min-width:50px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    
    .checkbox {
      margin-top:0px;
      padding-top:0px;
    }
}
.btn-xs, .btn-group-xs > .btn {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 12px;
    font-weight:normal;
    height:20px;
    line-height: 16px;
    min-width:50px;
    padding-bottom: 1px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
}
.btn-social,
.btn-social:hover {
  color:@white;
  min-width:130px;
}
.btn-social-facebook,
.btn-social-facebook:hover,
.btn-social-facebook:active,
.btn-social-facebook:focus {
  background:@facebook;
  border-color:@facebookBorder;
}
.btn-social-twitter,
.btn-social-twitter:hover,
.btn-social-twitter:active,
.btn-social-twitter:focus {
  background:@twitter;
  border-color:@twitterBorder;
}
.btn-social-google,
.btn-social-google:hover,
.btn-social-google:active,
.btn-social-google:focus {
  background:@google;
  border-color:@googleBorder;
}
.btn-social-linkedin,
.btn-social-linkedin:hover,
.btn-social-linkedin:active,
.btn-social-linkedin:focus {
  background:@linkedin;
  border-color:@linkedinBorder;
}
.btn-social-youtube,
.btn-social-youtube:hover,
.btn-social-youtube:active,
.btn-social-youtube:focus {
  background:@youtube;
  border-color:@youtubeBorder;
}
.btn-social-vimeo,
.btn-social-vimeo:hover,
.btn-social-vimeo:active,
.btn-social-vimeo:focus {
  background:@vimeo;
  border-color:@vimeoBorder;
}
.btn-social-instagram,
.btn-social-instagram:hover,
.btn-social-instagram:active,
.btn-social-instagram:focus {
  background:@instagram;
  border-color:@instagramBorder;
}
.btn-social-flickr,
.btn-social-flickr:hover,
.btn-social-flickr:active,
.btn-social-flickr:focus {
  background:@flickr;
  border-color:@flickrBorder;
}
.btn-social-foursquare,
.btn-social-foursquare:hover,
.btn-social-foursquare:active,
.btn-social-foursquare:focus {
  background:@foursquare;
  border-color:@foursquareBorder;
}
.btn-social-tumblr,
.btn-social-tumblr:hover,
.btn-social-tumblr:active,
.btn-social-tumblr:focus {
  background:@tumblr;
  border-color:@tumblrBorder;
}
.btn-group {
  
  .btn-social-facebook,
  .btn-social-twitter,
  .btn-social-google,
  .btn-social-linkedin,
  .btn-social-youtube,
  .btn-social-vimeo,
  .btn-social-instagram,
  .btn-social-flickr,
  .btn-social-foursquare,
  .btn-social-tumblr {
    text-align:left;
    width:190px;
  }
  
  .btn-social-icon {
    min-width:50px;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
    width:50px;
  }

}

.btn-social [class^="icon-"], 
.btn-social [class*=" icon-"] {
  font-size:44px;
  margin:0px;
  line-height:26px;
  padding:0px;
}
