.nav-tabs {
  
  > li {
    
    > a:hover,
    > a:focus { 
      background:@colorTheme4;
      border-color:@colorTheme4;
      border-bottom:0;
      text-decoration:underline;
    }
    
    > a:hover .badge {
      background:@ceruleanDarken15;
    }
    
    &.active > a, 
    &.active > a:hover, 
    &.active > a:focus {
      background:@colorTheme4;
      text-decoration:none;
    }
    
  }
  
  .badge {
    background:@cerulean;
    
    &:hover {
      background:@ceruleanDarken15;
    }
  }
  
}

/* custom nav */
.subnav-simple {
  background:@colorTheme4;
  font-size:14px;
  line-height:21px;
  
  .title {
    color:@rollingStone;
    font-family: "ProximaNovaLtSemibold", Arial, sans-serif;
    text-transform:uppercase;
  }
  
  > li  > a {
    padding:0px;
    
    &:hover {
      background:none;
      text-decoration:underline;
    }
  
  }
      
  > li.active > a {
    color:#313741;
    
    &:hover {
      cursor:default;
      text-decoration:none;
    } 
    
  }
  
}


.subnav-main {
  background:@colorTheme5;
  font-family: "ProximaNovaLtSemibold", Arial, sans-serif;
  font-size:16px;
  
  > li {
    
    > a {
      color:@colorTheme6;
      padding-bottom:15px;
      padding-top:15px;
      
      &:hover {
        background:@colorTheme1;
        color:@colorTheme4;
        
        .glyphicon {
          color:@colorTheme1Darken30;
        }
        
      }
      
    }
    
    &.active > a {
      background:@colorTheme4;
      color:@colorTheme1;
        
      .glyphicon {
        color:@colorTheme1;
      }
      
      &:hover {
        color:@colorTheme1;
        cursor:default;
        background:@colorTheme4;
        
        .glyphicon {
          color:@colorTheme1;
        }
        
      }
      
    }
    
  }
  
  .nav {
    padding-left:0px;
    
    > li > a {
      color:@colorTheme1;
      padding-left:40px;
      
      &:hover,
      &:focus {
        background:@colorTheme1;
        color:@colorTheme4;
      }
      
    }
    
    > li.active > a {
      background:@colorTheme4;
      
      &:hover {
        background:@colorTheme4;
        color:@colorTheme1;
        cursor:default;
      }
      
    }
    
  } 
  
  &.secondary-progress {
    
    a {
      color:@colorTheme6;
      
      &:hover {
        background:@colorTheme5;
        color:@colorTheme6;
        cursor:default;
      }
    }
    
    .past a {
      color:@colorTheme1;
      
      &:hover {
        background:@colorTheme1;
        color:@colorTheme4;
        cursor:pointer;
      }
      
    }
    
  }
  
  &.secondary-links {
    
    a {
      color:@colorTheme1;
    }
    
  }
  
}

ul.progress-steps {
  display:inline-block;
  font-size:16px;
  height:40px;
  list-style:none;
  margin:0 auto;
  padding:0px;
  width:auto;
  
  li {
    background:@colorTheme5 url(images/step-right.png) top right no-repeat;
    border-bottom:1px solid @ghost;
    border-top:1px solid @ghost;
    color:@ghost;
    display:inline-block;
    line-height:38px;
    margin:0 -5px 0 0;
    padding:0 40px 0 20px;
    
    &.current {
      background:@colorTheme1 url(images/step-current-right.png) top right no-repeat;
      color:@colorTheme4;
      
      &:last-child {
        background:@colorTheme1;
      }
      
    }
    
    &.past {
      background:@colorTheme4 url(images/step-past.png) top right no-repeat;
    }
    
    &.past-past {
      background:@colorTheme4 url(images/step-past-past.png) top right no-repeat;
    }
    
    &:first-child {
      border-left:1px solid @ghost;
      border-bottom-left-radius:5px;
      border-top-left-radius:5px;
    }
    
    &:last-child {
      background:@colorTheme5;
      border-right:1px solid @ghost;
      border-bottom-right-radius:5px;
      border-top-right-radius:5px;
      padding:0 20px 0 20px;
    }
    
  }
  
}
