.footer {
  background:#222;
  padding-bottom:30px;
  padding-top:30px;
  
  p,
  a,
  li {
    color:#999999;
    font-size:12px;
    line-height:27px;
  }
  
  ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
    
    &.col-2 {
      float:left;
      width:49%;
    }
    
  }
  
  .nav-pills > li > a {
    line-height:14px;
    padding:7px 20px 10px 0px;
    margin:0px;
  }
  
  .network {
    border-top:1px solid #333;
    padding-top:4px;
    margin-top:15px;
  }
  
  .org {
    margin-top:20px;
  }
  
  h3 {
    color:#fff;
  }
  
  .other {
    clear:both;
    display:block;
    border-bottom:1px solid #333;
    border-top:1px solid #333;
    font-weight:bold;
  }
  
  a:hover,
  .nav > li > a {
    
    &:hover,
    &:focus {
      background:none;
      color:#f5ba46;
      text-decoration:underline;
    }
    
  }
  
}
