body {
  background-color: @colorTheme4;
  color: @colorTheme6; 
  font-family: "ProximaNovaRgRegular", Arial, sans-serif;
  font-size: 16px;
  line-height:24px;
  margin:0;
}
a {
  background: transparent;
  color: #009DDA;
  text-decoration: none;
  &:active,
  &:hover,
  &:focus {
    color: @ceruleanDarken15;
    outline: 0;
    text-decoration: underline;
  }
}
b,
strong {
  font-family: "ProximaNovaLtSemibold", Arial, sans-serif;
  font-weight: normal;
}
.center {
  text-align:center;
}
