.panel-default {
  border-color: @colorTheme5;
  border-width: 2px;
}

.panel-default > .panel-heading {
  color: @colorTheme6;
  background-color: @colorTheme5;
  border-color: @colorTheme5;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top-width:2px;
  border-color: @colorTheme5;
}

.panel-group .panel-heading i.indicator {
  color: @colorTheme1;
}

