.avatar {
  background:@rollingStone;
  border-radius:5px;
  color:#FFF;
  display:block;
  font-size:15px;
  height: 30px;
  line-height:30px;
  text-align:center;
  width:30px;
  
  .glyphicon {
    line-height:30px;
  }
  
  &.small {
    font-size:30px;
    height: 60px;
    line-height:60px;
    width:60px;
    
    .glyphicon {
      line-height:60px;
    }
    
  }
  
  &.medium {
    font-size:45px;
    height: 90px;
    line-height:90px;
    width:90px;
    
    .glyphicon {
      line-height:90px;
    }
    
  }
  
  &.large {
    font-size:70px;
    height: 140px;
    line-height:140px;
    width:140px;
    
    .glyphicon {
      line-height:140px;
    }
    
  }
  
}

