.control-label {
    padding-right:0px;
    padding-left:0px;
    &.center-xsmall {
	text-align:center;
	width:30px;
    }
}

.form-control {
    height: 30px;
    border-color:@grayMedium;
    &:hover {
      border-color:#CCC;
    }

}

.form-group {
    .glyphicon-question-sign {
	    color:@colorTheme1;
    }
    .glyphicon-chevron-down {
       color:@cerulean;
    }
}

.input-group-inline {
   > div {
		display:inline-block;
	}
}

.has-error {
    .form-control  {
        font-size:16px;
        background-color: @alertRedBg;
        color: @alertRed;
        border: solid 1px @alertRedBorder;
    }
    > span {
        font-size:14px;
        color: @alertRed;
    } 
}

.has-warning {
    .form-control  {
        font-size:16px;
        background-color: @alertOrangeBg;
        color: @alertOrange;
        border: solid 1px @alertOrangeBorder;
    }
    > span {
        font-size:14px;
        color: @alertOrange;
    } 
} 

.has-success {
    .form-control  {
        font-size:16px;
        color: @alertGreen;
        border: solid 1px @alertGreenBorder;
    }
    > span {
        font-size:14px;
        color: @alertGreen;
    } 
} 

.has-feedback {
  position:relative;
  
  .form-control {
    padding-right:28px;
  }
  .form-control-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -1px;
    width: 34px;  
    
    &.font-md {
      right:2px;
      top: 4px;
    }
  }
  
  .glyphicon-remove-sign {
    color:@rollingStone;
    
    &:hover {
      cursor:pointer;
    }
  }
  
}
.add-on-group-inner {
  
  .glyphicon-search {
    color:@rollingStone;
  }
  
}

.page-error {
        font-size:16px;
        background-color: @alertRedBg;
        color: @alertRed;
        border: solid 1px @alertRedBorder;

}

.page-error label {
    padding:5px;
}

.page-error ul {
    font-size:16px;

}

.inputs-small {
        font-size:14px;
        font-weight:normal;
}

.input-field-size-xs {
	width:48px;
}

.input-field-size-sm {
	width:80px;
}

.input-field-size-md {
	width:110px;
}

.input-field-size-lg {
	width:180px;
}

.input-field-size-xl {
	width:300px;
}

.label-required:after {
                color:@alertRed*;
                content: "*";
                padding-left:5px;
}

.help-block {
    font-style:italic;
    color:@colorTheme6;
}


