.add-on {
    height:24px;
    width:24px;
    padding-top:7px;
    padding-bottom:2px;
}


.add-on-group-inner {
    position: relative;
    > input {
	 padding-left: 35px; 
      }
    > i {
         position: absolute;
         pointer-events: none;
         padding-left:10px;
         padding-right:10px;
	.add-on
    }
}

.input-group-btn {
  
  .dropdown-toggle.btn-default {
    background:@colorTheme5;
    border-color:#ccc;
    color:#ccc;
    font-size:16px;
    min-width:28px;
    width:28px;

    &:hover,
    &:focus {
      background:@colorTheme5;
      border-color:#ccc;
      color:#ccc;
    }
  }
  
  .dropdown-menu {
    margin: 10px 0px 0px 0px;
    text-align:left;
  }
  
}

.open .dropdown-toggle.btn-default {
  &:hover,
  &:focus {
    background:@colorTheme5;
    color:#ccc;
    outline: 0;
  }
}

.tag-input {
   padding:4px 5px 4px 5px;
   .badge{
       background:@rollingStone;
       margin:0;
      &:after {
       color:#a5adb1;
       content: " x";
      }
      &:hover,
      &:focus {
        background:@rollingStoneDarken15;
        cursor:pointer;
      }
   }
}

.textinput-checkbox{
    color:@colorTheme6;
}



