.input-group-inner-addon {
    position:relative;
}

.input-group-inner-addon input {
    padding-left:35px;
}

.input-group-inner-addon i {
    position:absolute;
    padding:7px 12px;
    pointer-events:none;
}

.help-block {
    font-size:14px;
    font-style:italic;
}

.glyphicon-question-sign {
    padding-top:7px;
    color:@cerulean;
}
