// bold
// overrides default values as listed below
@colorTheme1:         #E41C04; //
@colorTheme2:         #B9D2DC; //
@colorTheme3:         #00516E; //
@colorTheme4:         #FAFAFA; //
@colorTheme5:         #FFFFFF; //
@colorTheme6:         #76838F; //