//
// Variables
// --------------------------------------------------

// colors
// main color theme
@import "aui_colors_default.less";
//@import "aui_colors_darkstar.less";
//@import "aui_colors_bold.less";

// color theme variations
@colorTheme1Darken5:    darken(@colorTheme1, 5%);
@colorTheme1Darken10:   darken(@colorTheme1, 10%);
@colorTheme1Darken15:   darken(@colorTheme1, 15%);
@colorTheme1Darken30:   darken(@colorTheme1, 30%);
@colorTheme3Darken5:    darken(@colorTheme3, 5%);
@colorTheme3Darken10:   darken(@colorTheme3, 10%);
@colorTheme3Darken15:   darken(@colorTheme3, 15%);
@colorTheme5Darken5:    darken(@colorTheme5, 5%);
@colorTheme5Darken10:   darken(@colorTheme5, 10%);
@colorTheme5Darken15:   darken(@colorTheme5, 15%);
@colorTheme6Darken5:    darken(@colorTheme6, 5%);
@colorTheme6Darken15:   darken(@colorTheme6, 15%);

// typography
@rollingStone:          #748288;
@rollingStoneDarken15:  darken(@rollingStone, 15%);
@riverBed:              #434C59;
@riverBedDarken15:      darken(@riverBed, 15%);
@lobLolly:              #B3BDC1;
@cerulean:              #009DDA;
@ceruleanDarken15:      darken(@cerulean, 15%);

// lines and borders
@ghost:                 #D7D8DB;
@ghostDarken15:		darken(@ghost,15%);
// alert colors
@alertGreenBorder:      #35c781;
@alertGreen:            #0fa15b;
@alertGreenBg:          #ebfaf3;
@alertRedBorder:        #ff6046;
@alertRed:              #d93a20;
@alertRedBg:            #ffefed;
@alertOrangeBorder:     #ffb245;
@alertOrange:           #d98c1f;
@alertOrangeBg:         #fff7ed;
@alertBlueBorder:       #4DBDE9;
@alertBlue:             #2797c3;
@alertBlueBg:           #eef9fd;

// grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@gray2:                 #666;
@grayLight:             #999;
@grayMedium:            #ddd;
@grayLighter:           #ededed;
@grayLightest:          #f5f5f5;
@offWhite:              #f9f9f9;
@grayCCC:               #ccc;
@grayDisabledText:	    #b3bdbf;

// accent colors
@white:                 #FFF;
@activeYellow:          #efaa23;
@orange:                #eea821;
@searchBtn:             #F1B94C;
@searchBtnGrad:         #F3C468;
@underlineYellow:       #edaa00;
@gold:                  #E8A21B;
@goldOpt2:              #F5BA46;

// social
@facebook:              #3B5998;
@facebookBorder:        darken(@facebook, 5%);
@twitter:               #33CCFF;
@twitterBorder:         darken(@twitter, 5%);
@google:                #C63D2D;
@googleBorder:          darken(@google, 5%);
@linkedin:              #4875B4;
@linkedinBorder:        darken(@linkedin, 5%);
@youtube:               #FF3333;
@youtubeBorder:         darken(@youtube, 5%);
@vimeo:                 #86B32D;
@vimeoBorder:           darken(@vimeo, 5%);
@instagram:             #4E433C;
@instagramBorder:       darken(@instagram, 5%);
@flickr:                #FE0883;
@flickrBorder:          darken(@flickr, 5%);
@foursquare:            #8FD400;
@foursquareBorder:      darken(@foursquare, 5%);
@tumblr:                #2B4964;
@tumblrBorder:          darken(@tumblr, 5%);

//borders
@border-sm:		1px;
@border-md:		2px;
@border-lg:		3px;

//font sizes
@font-xs:		12px;
@font-sm:		14px;
@font-md:		16px;
@font-lg:		20px;
@font-xl:		24px;
