.control-label.center-xsmall {
	text-align:center;
  width:30px;  
}

.form-horizontal {
  
  .control-label, 
  .radio, 
  .checkbox, 
  .radio-inline, 
  .checkbox-inline {
    padding-top:2px;
  }
  
}

.form-control {
  border-color:@grayMedium;
  height: 30px;
  padding:0px 10px 0px 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
          transition: none;
  &:hover,
  &:active {
    border-color:@grayCCC;
  }
  
  &:focus {
    border-color:#67c6ea;
  }

}

.form-group {
  
  .glyphicon-question-sign {
    color:@colorTheme1;
  }
  .glyphicon-chevron-down {
   color:@cerulean;
  }
  
  .help-tip {
    display:inline-block;
    cursor:pointer;
    margin:4px 0px 0px 15px;
  }
  
  .validation {
    display:inline-block;
    margin:4px 0px 0px 15px;
  }

}

.input-group-inline {
  
  > div {
		display:inline-block;
	}
	
}

.help-block {
  font-size:14px;
  margin-top:-2px
}
.has-error {
  
  .form-control  {
    background-color: @alertRedBg;
    border: solid 1px @alertRedBorder;
    color: @alertRed;
    font-size:16px;
  }
  
  .help-inline, .glyphicon {
    color: @alertRed;
    font-size:14px;
  } 
  
}

.has-warning {
  
  .form-control  {
    background-color: @alertOrangeBg;
    border: solid 1px @alertOrangeBorder;
    color: @alertOrange;
    font-size:16px;
  }
  
  > span {
    color: @alertOrange;
    font-size:14px;
  }
   
} 

.has-success {
  
  .form-control  {
    border: solid 1px @alertGreenBorder;
    color: @alertGreen;
    font-size:16px;
  }
  
  > span {
    color: @alertGreen;
    font-size:14px;
  } 
  
} 

.has-feedback {
  position:relative;
  
  .form-control {
    padding-right:28px;
  }
  .form-control-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -1px;
    width: 34px;  
    
    &.font-md {
      right:2px;
      top: 4px;
    }
  }
  
  .glyphicon-remove-sign,
  .icon-uniF057 {
    color:@rollingStone;
    
    &:hover {
      cursor:pointer;
    }
  }
  
}
.add-on-group-inner {
  
  .glyphicon-search,
  .icon-uniF002,
  i {
    color:@rollingStone;
  }
  
}

.page-error {
  background-color: @alertRedBg;
  border: solid 1px @alertRedBorder;
  color: @alertRed;
  font-size:16px;
}

.page-error label {
  padding:5px;
}

.page-error ul {
  font-size:16px;
}

.inputs-small {
  font-size:14px;
  font-weight:normal;
}

.input-field-size-xs {
	width:48px;
}

.input-field-size-sm {
	width:80px;
}

.input-field-size-md {
	width:110px;
}

.input-field-size-lg {
	width:180px;
}

.input-field-size-xl {
	width:300px;
}

.input-field-size-fluid {
  width:100%;
}

.label-required:after {
  color:@alertRed*;
  content: "*";
  padding-left:5px;
}

.help-block {
  color:@colorTheme6;
  font-style:italic;
}

@media (min-width: 768px) {
  
  .control-label {
    padding-right:0px;
    padding-left:0px;
  }
  
  .form-group {
    
    .help-tip {
      margin:4px 0px 0px -10px;
    }
    
    .validation {
      margin:4px 0px 0px -10px;
    }
    
  }
  
}
