.panel-default {
border-color: @colorTheme5;
border-width: 2px;
}

.panel-default > .panel-heading {
color: #313741;
background-color: #E6EEF1;
border-color: #dddddd;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
border-top-width: 2px;
}