// deafult colors
@colorTheme1:           #4DBDE9; // picton blue
@colorTheme2:           #297FA1; // jelly bean
@colorTheme3:           #F06E17; // tango
@colorTheme4:           #FFFFFF; // white
@colorTheme5:           #E6EEF1; // mystic
@colorTheme6:           #313741; // river bed