// darkstar
// overrides default values as listed below
@pictonBlue:          #485566; //
@pictonBlue5:         darken(@pictonBlue, 5%);
@pictonBlue10:        darken(@pictonBlue, 10%);
@pictonBlue15:        darken(@pictonBlue, 15%);
@pictonBlue30:        darken(@pictonBlue, 30%);
@jellybean:           #636F7D;
@tango:               #4DACFF;
@tango5:              darken(@tango, 5%);
@tango10:             darken(@tango, 10%);
@tango15:             darken(@tango, 15%);
// background
@white:               #F0F0F0;
@mystic:              #FFF;
@mystic5:             darken(@mystic, 5%);
@mystic10:            darken(@mystic, 10%);
@mystic15:            darken(@mystic, 15%);
@riverBed:            #485566;