//
// Variables
// --------------------------------------------------

// colors
//@import "aui_colors_default.less";
//@import "aui_colors_darkstar.less";
@import "aui_colors_bold.less";


// typography
@rollingStone:        #748288;
@lobLolly:            #B3BDC1;
@cerulean:            #009DDA;
@cerulean15:          darken(@cerulean, 15%);
// lines and borders
@ghost:               #D7D8DB;
// alert colors
@alertGreen:          #35c781;
@alertGreen15:        #0fa15b;
@alertGreen90:        #ebfaf3;
@alertRed:            #ff6046;
@alertRed15:          #d93a20;
@alertRed90:          #ffefed;
@alertOrange:         #ffb245;
@alertOrange15:       #d98c1f;
@alertOrange90:       #fff7ed;
@alertBlue:           #ffb245;
@alertBlue15:         #2797c3;
@alertBlue90:         #eef9fd;

// grays

@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@gray2:                 #666;
@grayLight:             #999;
@grayMedium:            #ddd;
//@grayLighter:         #eee;
@grayLighter:           #ededed;
@grayLightest:          #f5f5f5;
@offWhite:              #f9f9f9;
@grayCCC:               #ccc;